{%extends 'base.html'%} 
{% block content %}
<div class="container">
    <div class="row">
   <div class="col-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="row"><div class="card-header"><h1>Category</h1></div></div>
        <div class="card-body">
            <ul>
                <li>
                    <a href="{% url 'gallery' %}"> All</a>
                </li>
             {% for category in image_category %}
                <li>
                    <a href="{%url 'gallery' %}?category={{category.name}}">{{category.category_name}}</a>
                </li>
                {% endfor %}
            </ul>
         
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

   </div>
   <div class="col-8">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
   </div>
    </div>
</div>
<style>
    
</style>
{% endblock %}