{%extends 'base.html'%} 
{% block content %}
<div class="container">
    <div class="row">
   <div class="col-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="row"><div class="card-header"><h1>Category</h1></div></div>
        <div class="card-body">
            <ul>
                <li>
                    <a href="{% url 'Home' %}"> All</a>
                </li>
             {% for category in image_category %}
                <li>
                    <a href="{%url 'Home' %}?category={{category.name}}">{{category.category_name}}</a>
                </li>
                {% endfor %}
            </ul>
         
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

   </div>
   <div class="col-8">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light"><div class="dropdown">
                <button onclick="myFunction1()" class=" w3-button dropbtn">Filter by Category</button>
                <div id="myDropdown" class="dropdown-content">
                    {% for my_catpic in category %}
                    <a href="/category/{{my_catpic.id}}">{{my_catpic.category_name}}</a> {% endfor %}
                </div>
            </div></div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light"><div class="w3-dropdown-click">
                <button onclick="myFunction2()" class="w3-button  dropbtn">Filter by Location</button>
                <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                    {% for my_loc in location_pics %}
                    <a href="/location/{{my_loc.id}}" class="w3-bar-item w3-button"> {{my_loc.location_name}} </a>
                    <p>{{locationpic}}</p>
                    {% endfor %}
                </div>
            </div></div>
          </div>
          <!-- <div class="col">
            <div class="p-3 border bg-light">Row column 3</div>
          </div> -->
        </div>
      </div>
   </div>
    </div>
</div>
<style>
    
</style>
<!-- scripts -->
<script>
                /* When the user clicks on the button,
                                                                                                                                                                                                          toggle between hiding and showing the dropdown content */
                function myFunction1() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                // Close the dropdown if the user clicks outside of it
                window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn ')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }

                // function 2

                function myFunction2() {
                    var x = document.getElementById("Demo");
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
                // endfunction2
            </script>

<!-- scritps end -->

<!-- styles -->
<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: gray;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #F1F1F1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .show {
        display: block;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover {
        background-color: #ddd;
    }

</style>

<!-- Endstyles -->
{% endblock %}