{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images %}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">
      {% if image %}
      {% for pic in image %}

 <div class="col-sm-6">

     <img src="{{pic.image.url}}}" alt="image" width="400px">
        <h3>{{pic.name}}</h3>
        <p> Description {{pic.description}}</p>
        <h3>Location {{pic.location}}</h3>   

    </div>
    {% endfor %}
    {% endif %}
  
  </div>
</div>
{% endblock %}